<div class="container  border border-dark p-3">
	
<ul class="list-unstyled font-italic font">
  <li><strong>Name:</strong> {{category.name}}</li>
  <li><strong>Description:</strong> {{category.description}}</li>
  
</ul>


<div class="row mb-2 ">
	<a class=" mx-2 btn btn-outline-danger" href="delete/{{category._id}}">Delete</a>
	<a class="btn btn-outline-info">Update</a>
</div>
</div>

